<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
</head>
<body>
    <div id="login-background">
    <h1>LOGIN</h1>
    <div class="login-form">
    <form method="POST" action="/auth/login">
        <label for="email-field">Login:</label>
        <input id="email-field" type="text" name="email">

        <label for="password-field">Password:</label>
        <input id="password-field" type="text" name="password">

        <input id="submit-login" type="submit">
    </form>
</div>
</div>
</body>
</html>