<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    <div class="home-back">
        <h1>Using this site</h1>
        <h2>This site features information from the Best Buy API. 
            <br>
            You may select products that appear in the items list and
            <br>
            save them to your favorites or your wish list. Also check out 
            <br>
            what's popular by seeing what others have purchased!
            <br>
            Use the nav bar to find your way around the site. 
        </h2>
    </div>
</body>
</html>