<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    <div class="home-back">
        <h1>Welcome to the homepage!</h1>
        <p>Use the links above to access information.
            You can view your profile, and see a list of
            items to add to favorites. I am using the Best Buy 
            API. Have fun!
        </p>
    </div>
</body>
</html>