

<div class="bestBuyList">
  <div class="row">
    <div class="col s4 m4" >
      <div class="card z-depth-5">
        <div class="card-image">
          <img class="responsive-img z-depth-2"
            src="https://cdn.thewirecutter.com/wp-content/uploads/2018/12/all-in-one-pc-lowres-3075.jpg"
          />
        </div>
        <div class="card-content">
          <p>
            Checkout the latest popular desktops! Click the link below for details.
          </p>
        </div>
        <div class="card-action">
          <a href="/computers">DESKTOP COMPUTERS</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card z-depth-5">
        <div class="card-image">
          <img class="responsive-img z-depth-2"
            src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
          />
        </div>
        <div class="card-content">
          <p>
              Checkout the latest popular laptops! Click the link below for details.
          </p>
        </div>
        <div class="card-action">
          <a href="/laptops">LAPTOPS</a>
        </div>
      </div>
    </div>
 
    <div class="col s4 m4">
      <div class="card z-depth-5">
        <div class="card-image">
          <img class="responsive-img z-depth-2"
            src="https://i1.wp.com/shairoom.com/wp-content/uploads/2019/04/Modern-living-room-with-electric-fireplace-enclosed-under-TV-wall-Image-35.jpg?resize=570%2C381&ssl=1"
          />
        </div>
        <div class="card-content">
          <p>
              Checkout the latest popular tvs! Click the link below for details.
          </p>
        </div>
        <div class="card-action">
          <a href="/tvs">TVs</a>
        </div>
      </div>
    </div>
  </div>
</div>
