html, body {
    margin: 0;
    padding: 0;
}
.home-back {
    background-image: url('https://i.imgur.com/SvnuN4M.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
nav {
   background-image: linear-gradient(rgb(0, 195, 255), rgb(0, 255, 221));
   display: flex;
   justify-content: space-between;
   height: 65px;
}
nav ul {
    margin: 0;
    padding-left: 0px;
    display: inline;
}
nav ul li {
    display: inline;
    padding: 0px 5px;
}
nav a{
    text-decoration: none;
}
nav a:hover {
    color: rgb(206, 122, 185);
}
main {
    height: 80vh;
}
img {
    max-height: 40vh;
    max-width: 30vw;
}
.error {
    margin: 5px;
    text-align: center;
}
.fourOFour {
    height: 80%;
    width: 80%;
    background-image: url('http://images2.fanpop.com/images/photos/2700000/funny-lotr-oic-lord-of-the-rings-2751376-500-405.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#login-background {
    height: 100vh;
    width: 100%;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/70/94/1157b6fd85f1ff2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    border: 1px solid rgb(98, 136, 136);
    background-color: rgba(46, 168, 213, 0.214);
}
.login-form form{
    display: flex;
    flex-direction: column;
}
.login-form label{
    padding: 5px 0px;
    font-size: 14px;
}
.login-form input{
    padding: 0px 0px;
    background-color: rgb(233, 225, 225);
}
.login-form #submit-login{
    background-color: rgb(209, 208, 208);
}
.error-box {
    background-color: rgb(205, 138, 138);
}
.success-box {
    background-color: rgb(143, 198, 143);
}
.close-button {
    float: right;
    cursor: pointer;
}
.profile-page {
    background-image: url('https://i.pinimg.com/736x/10/1e/f6/101ef6a9e146b23de28fa2cd568ad17b.jpg');
    background-size: cover;
    height: 100%;
    padding: 40px 80px;
}
.bestBuyList {
    padding: 40px 0px;
    text-align: center;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/69/01/7957b416b366534.jpg');
    background-size: cover;
    height: 100%;
}
.products {
    display: flex;
    justify-content: space-between;  
    background-image: url('http://www.uidownload.com/files/648/52/17/bright-blurred-light-thumb.jpg');
    background-size: cover;
}
.prod-left {
    padding: 20px;
    margin: 20px;
}
.prod-right {
    padding: 20px;
    margin: 20px;
}
footer {
    background-color: rgb(0, 195, 255);
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: 100%;
}

