html, body {
    margin: 0;
    padding: 0;
}
nav {
   background-image: linear-gradient(rgb(0, 195, 255), rgb(0, 255, 221));
   display: flex;
   justify-content: space-between;
   height: 50px;
}
nav ul {
    margin: 0;
    padding-left: 0px;
    display: inline;
}
nav ul li {
    display: inline;
    padding: 0px 5px;
}
nav a{
    text-decoration: none;
}
nav a:hover {
    color: rgb(206, 122, 185);
}
main {
    height: 80vh;
}
.error {
    margin: 10px;
    text-align: center;
}
#login-background {
    height: 100vh;
    width: 100%;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/70/94/1157b6fd85f1ff2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form {
    margin: 0 auto;
   text-align: center;
    width: 30%;
    border: 1px dotted grey;
    background-color: rgb(46, 169, 213);
}
.login-form form{
    display: flex;
    flex-direction: column;
}
.login-form label{
    padding: 10px 0px;
}
.login-form input{
    padding: 5px 0px;
    background-color: rgb(233, 225, 225);
}
.login-form #submit-login{
    background-color: rgb(209, 208, 208);
}
.error-box {
background-color: rgb(205, 138, 138);
}
.success-box {
background-color: rgb(143, 198, 143);
}
.close-button {
    float: right;
    cursor: pointer;
}
.products {
    display: flex;
    justify-content: space-between;
}
.prod-left {
    padding: 20px;
    margin: 20px;
}
.prod-right {
    padding: 20px;
    margin: 20px;
}
footer {
    background-color: rgb(0, 195, 255);
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: 100%;
}

